{%- set page = 'create' -%}
{%- extends 'base.html' -%}

{%- block title %}Submit a new document{% endblock -%}

{% block article %}
      <h1>Upload document</h1>

      <form action="{{ url_for('create') }}" enctype="multipart/form-data" method="post">
        <p>
          <input type="hidden" name="doc_id" value="{{ id or 0 }}" />
{%- if id == 0 or not filename %}
          <input type="file" name="doc" />
{%- else %}
          {{ filename }}
{%- endif %}
          <input type="submit" name="op" value="Upload" />
        </p>
        <table id="metadata">
          <tr>
            <td>Title:</td>
            <td><input type="text" name="doc_title" maxlength="256" value="{{ title }}" style="font-family:sans-serif" /></td>
          </tr>
          <tr>
            <td>Author:</td>
            <td><input type="text" name="doc_author" maxlength="40" value="{{ author }}" style="font-family:sans-serif" /></td>
          </tr>
          <tr>
            <td>DOI:</td>
            <td><input type="text" name="doc_doi" maxlength="256" value="{{ doi }}" style="font-family:sans-serif" /></td>
          </tr>
          <!-- TODO: license -->
          <tr>
            <td>Tags: <br /> <span style="font-size:small">(whitespace-separated)</span></td>
            <td><input type="text" name="doc_tags" value="{{ tags|join(' ') }}" style="font-family:sans-serif" /></td>
          </tr>
        </table>

        <fieldset style="margin-top:30px" id="attachments">
          <legend>Associated documents</legend>

{%- if attachments %}
          <table style="margin-bottom:10px" class="colored_table">
{%- for attach in attachments %}
            <tr style="margin-top:5px">
              <td>{% if attach.title %}“{{ attach.title }}”{% endif %}</td><td>{{ attach.author }}</td>
            </tr>
{%- endfor %}
          </table>
{%- endif %}

          <div class="attached_doc">
            <input type="text" name="attach_title" maxlength="256" placeholder="title …" style="width:30%" />
            <input type="text" name="attach_author" maxlength="40" placeholder="author …" style="width:25%" />
            <input type="file" name="attach_doc" style="width:35%" />
          </div>
          <p style="text-align: center">
            <input type="submit" name="op" value="Attach" />
          </p>
        </fieldset>
      </form>
{% endblock%}
