{%- set page = 'doc' -%}
{%- extends 'base.html' -%}

{%- block title %}Document #{{ id }}{% endblock -%}

{%- block content %}
    <h1 class="topspace">Document</h1>
     <a href="{{ url_for('download', filename=filename) }}" class="noborderlink">
{%- if filename.endswith('.bib') %}
      <img src="{{ url_for('static', filename='img/ft/bib.svg') }}" alt="BibTeX file" class="filetype" />
{%- elif filename.endswith('.pdf') %}
      <img src="{{ url_for('static', filename='img/ft/pdf.svg') }}" alt="PDF file" class="filetype" />
{%- elif filename.endswith('.tex') %}
      <img src="{{ url_for('static', filename='img/ft/tex.svg') }}" alt="TeX file" class="filetype" />
{%- elif filename.endswith('.txt') %}
      <img src="{{ url_for('static', filename='img/ft/txt.svg') }}" alt="Text file" class="filetype" />
{%- else %}
      <img src="{{ url_for('static', filename='img/ft/generic.svg') }}" alt="Generic file" class="filetype" />
{%- endif %}
     </a>

    <div class="tags">
{%- for tag in tags %}
      <span class="tag">{{ tag }}</span>
{%- endfor %}
    </div>

    <dl style="clear:both">
{%- if title %}
      <dt>Title</dt>
        <dd>{{ title }}</dd>
{%- endif %}

{%- if author %}
      <dt>Author</dt>
        <dd>{{ author }}</dd>
{%- endif %}

{%- if type %}
      <dt>Type</dt>
        <dd>{{ type }}</dd>
{%- endif %}

{%- set blacklist = ['filename', 'fileext'] %}
{%- for key, value in meta.items() %}
{%- if key not in blacklist %}
      <dt>{{ key }}</dt>
        <dd>{{ value }}</dd>
{%- endif %}
{%- endfor %}
    </dl>

{%- if attachments %}
    <h3>Attachments</h3>
    <ul style="text-align:left">
{%- for attach in attachments %}
      <li><a href="{{ url_for('doc', doc_id=attach.id) }}">“{{ attach.title }}”</a></li>
{%- endfor %}
    </ul>
{%- endif %}


{% endblock%}
