<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Frequently Asked Questions</title>
    <meta http-equiv="Content-Type" content="text/html" />
    <meta name="title" content="Knuth Search Engine" />
    <meta name="creator" content="Lukas Prokop, Andi" />
    <meta name="description" content="Search engine for educational documents" />
    <meta name="language" content="en" />
    <meta name="robots" content="all" />
    <link rel="shortcut icon" href="img/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="static/style.css" />
    <!-- TODO: RSS feed -->
  </head>

  <body>
    <nav class="subpage">
      <p id="top">
        <a href="{{ url_for('main') }}">Search</a>
        <a href="{{ url_for('syntax') }}">Syntax</a>
        <a href="{{ url_for('list') }}">Browse</a>
        <a href="{{ url_for('news') }}">Recently uploaded</a>
        <a href="{{ url_for('create') }}">Upload</a>
        <a href="{{ url_for('impressum') }}">Impressum</a>
      </p>
    </nav>

    <article>
      <h1>Frequently Asked Questions</h1>

      <h3>Who runs this search engine?</h3>
      <p>See <a href="impressum.html">impressum</a>.</p>

      <h3 name="which-docs" id="which-docs">
        What document are supposed to be uploaded?
      </h3>
      <p>
        Any document with educational background. As far as the idea for this
        project came to my mind during my studies, documents are intended
        to be part of courses at <a href="http://tugraz.at">TU Graz</a>.
      </p>

      <h3 name="lang" id="lang">
        Why is this website written in english?
        Which language should the documents be written in?
      </h3>
      <p>
        Distribution of educational documents is more than just "sharing
        with your friends". That's the reason why your documents should
        be for a wide range of students and to reach a large target
        audience, you should select the appropriate language. English
        might be a good idea for most document, but if you are not
        familiar with the language, you would like to use, prefer your
        mother tongue.
      </p>

      <h3 name="privacy" id="privacy">
        What data are you storing about me?
      </h3>
      <p>
        None, beside those, you enter explicitly when uploading.
      </p>

      <h3 name="font" id="font">
          What fonts did you use in the logo?
      </h3>
      <p>
        Computer modern by Donald E. Knuth.
      </p>

      <h3 name="knuth" id="knuth">Why is it called knuth?</h3>
      <p>
        Sorry. As a <abbr title="Computer Science">CS</abbr> student,
        I'm a big fan of
        <a href="https://en.wikipedia.org/wiki/Donald_Ervin_Knuth">Donald E. Knuth</a>.
      </p>

      <h3 name="license" id="license">
        Which license does the source code have?
      </h3>
      <p>
        The whole website and search engine is licensed under GPLv3.
        I prefer the copyleft clause for this project.
      </p>

      <h3 name="icons" id="icons">
        Where did you stole the filetype icons from?
      </h3>
      <p>
        I love the work of the GNOME designers. Some filetype icons
        are taken from <a href="http://art.gnome.org/themes/icon?page=1">
        "Dropline! Neu"</a> theme by silvestre herrea under the Gnu GPLv2.
      </p>

      <h3 name="icons" id="icons">
        Where did you stole the syntax from?
      </h3>
      <p>
        Well, actually I have designed my own syntax before. I was aware
        of the need of "terms", "intervalls" and "key-value-pairs". Those
        were my initial implementation targets. You will find those elements
        as "term", "range" and "field" in <a href="syntax">Syntax</a> again.
        However... I stole the symbols (:, ") from search engines like
        Google, Yahoo and wolframalpha, because I wanted to keep as
        user-friendly as possible.
      </p>

      <p><a href="#top">Back to Top</a></p>
    </article>
  </body>
</html>
