{% block head %}
	<head>
		<meta charset="utf-8" />
		<title>{{ pagetitle }}</title>
		<meta http-equiv="Content-Type" content="text/html" />
		<meta name="title" content="Knuth Search Engine" />
		<meta name="creator" content="Lukas Prokop" />
		<meta name="description" content="Search engine for educational documents" />
		<meta name="language" content="en" />
		<meta name="robots" content="all" />
		<link rel="shortcut icon" href="img/favicon.ico" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
		<!-- TODO: RSS feed -->
	</head>
{% endblock %}
