<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Impressum</title>
    <meta http-equiv="Content-Type" content="text/html" />
    <meta name="title" content="Knuth Search Engine" />
    <meta name="creator" content="Lukas Prokop, Andi" />
    <meta name="description" content="Search engine for educational documents" />
    <meta name="language" content="en" />
    <meta name="robots" content="all" />
    <link rel="shortcut icon" href="img/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="static/style.css" />
    <!-- TODO: RSS feed -->
  </head>

  <body>
    <nav class="subpage">
      <p id="top">
        <a href="{{ url_for('main') }}">Search</a>
        <a href="{{ url_for('syntax') }}">Syntax</a>
        <a href="{{ url_for('browse') }}">Browse</a>
        <a href="{{ url_for('news') }}">Recently uploaded</a>
        <a href="{{ url_for('create') }}">Upload</a>
        <a href="{{ url_for('faq') }}">F.A.Q</a>
      </p>
    </nav>
    <article>
      <h1>Impressum</h1>

      <h3>Project lead and maintenance</h3>
      <address>
        Lukas Prokop and Andi <br>
        next to Infeldgasse <br>
        8010 Graz
      </address>

      <p>
        All users are solely responsible for their own content.
      </p>

<!--
      <ul>
        <li>
          <a href="http://lukas-prokop.at/person">
            lukas-prokop.at
          </a>
        </li>
        <li>mail: admin (at) lukas-prokop (.) at</li>
        <li>Jabber:
          <a href="xmpp://meisterluk@jabber.grml.org/Home">
            meisterluk@jabber.grml.org/Home
          </a>
        </li>
      </ul>
-->
    </article>
  </body>
</html>
