<!DOCTYPE html>
<html>
{% set pagetitle = "Document repository" %}
{% include 'head.html' %}
{% block head %}{% endblock %}

  <body>
    <article id="search">
      <form action="search.php" method="get">
        <p>
          <object type="image/svg+xml" data="static/img/logo/logo.svg" width="250">
            <img src="img/logo/logo.png" alt="knuth.">
          </object>
        </p>
        <p>
          <input type="text" name="q" id="userinput" placeholder="Search for document …"><br>
          <input type="submit" value="Start search">
        </p>
{% include 'nav.html' %}
{% block nav %}{% endblock %}
      </form>
    </article>
  </body>
</html>
