{%- extends 'base.html' -%}
{%- block title %}Document repository search{% endblock -%}

{% block article %}

      <form action="{{ url_for('main') }}" method="get">
        <p>
          <object type="image/svg+xml" data="static/img/logo/logo.svg" width="250">
            <img src="img/logo/logo.png" alt="knuth.">
          </object>
        </p>
        <p>
          <input type="text" name="q" id="userinput" placeholder="Search for document …"><br>
          <input type="submit" value="Start search">
        </p>
      </form>

      <nav>
        <p>
          <a href="{{ url_for('listing') }}">List</a>
          <a href="{{ url_for('news') }}">Recently uploaded</a>
          <a href="{{ url_for('info') }}">Syntax</a>
          <a href="{{ url_for('create') }}">Upload</a>
          <a href="{{ url_for('impressum') }}">Impressum</a>
          <a href="{{ url_for('faq') }}">F.A.Q.</a>
        </p>
      </nav>
{% endblock %}
