{%- extends 'base.html' -%}

{%- block title %}Search results{% endblock -%}

{% block content %}


{% if results|length > 0 %}
    <h1 class="topspace">Search results</h1>
    <table>
      <thead>
        <tr><th>Title</th><th>Author</th><th>Upload</th></tr>
      </thead>
      <tbody>
{%- for document in results.values() %}
        <tr class="doctype_{{ doc.type }}">
          <td>
            <a href="{{ url_for('doc', doc_id=doc.id) }}">{{ doc.title }}</a>
          </td>
          <td>
            {{ doc.author }}
          </td>
          <td>
            {{ doc.getFormatDateString() }}
          </td>
        </tr>
{%- endfor %}
      </tbody>
    </table>
{% endif %}
{% endblock %}
