<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Syntax for search terms</title>
        <meta http-equiv="Content-Type" content="text/html" />
        <meta name="title" content="Knuth Search Engine" />
        <meta name="creator" content="Lukas Prokop" />
        <meta name="description" content="Search engine for educational documents" />
        <meta name="language" content="en" />
        <meta name="robots" content="all" />
        <link rel="shortcut icon" href="img/favicon.ico" />
        <link rel="stylesheet" type="text/css" href="static/style.css" />
        <!-- TODO: RSS feed -->
    </head>

    <body>
        <nav class="subpage">
          <p id="top">
            <a href="{{ url_for('main') }}">Search</a>
            <a href="{{ url_for('news') }}">Recently uploaded</a>
            <a href="{{ url_for('create') }}">Upload</a>
            <a href="{{ url_for('impressum') }}">Impressum</a>
            <a href="{{ url_for('faq') }}">F.A.Q</a>
          </p>
        </nav>
        <article>
            <h1>Documents</h1>
          
              <table>
                  <tr><th>Title</th><th>Author</th><th>Upload</th></tr>
                {% for doc in documents.values() %}
                {% set parent = documents[doc.parent|string()] %}
                <tr class="doctype_{{ doc.type }}">
                    <td>
                        <a href="{{ url_for('doc', doc_id=doc.id) }}">{% print doc.title %}</a>
                        {% if parent != null %}
                        [<a href="{{ url_for('doc', doc_id=parent.id) }}">doc</a>]
                        {% endif %}
                    </td>
                    <td>
                        {% print doc.author %}
                    </td>
                    <td>
                        {% print doc.getDate() %}
                    </td>
                </tr>
                {% endfor %}
            
            </table>
        </article>
      </body>
</html>
