{%- extends 'base.html' -%}

{%- block title %}Browsing documents{% endblock -%}

{% block content %}
    <h1 class="topspace">Documents</h1>

    <table>
      <thead>
        <tr><th>Title</th><th>Author</th><th>Upload</th></tr>
      </thead>
      <tbody>
{%- for doc in documents %}
        <tr class="doctype_{{ doc.type }}">
          <td>
            <a href="{{ url_for('doc', doc_id=doc.id) }}">{{ doc.title }}</a>

{% for attachment in doc.attachments %}
              [<a href="{{ url_for('doc', doc_id=attachment.id) }}">{{ attachment.type }}</a>]
{% endfor %}
          </td>
{% if doc.author %}
          <td>
            {{ doc.author }}
          </td>
{% endif %}
{% if doc.format_date %}
          <td>
            {{ doc.format_date }}
          </td>
{% endif %}
        </tr>
{%- endfor %}
      </tbody>
    </table>
{% endblock %}
