{%- set page = 'news' -%}
{%- extends 'base.html' -%}

{%- block title %}Feed{% endblock -%}

{% block content %}
    <h1 class="topspace">{% print feed['feed']['title'] %}</h1>
    <a href="{{ url_for('feed') }}">Feed</a>
    <div>
      {% for entry in feed['entries'] %}
        <article>
        <h1>
          <a href="{{ entry['link'] }}">{{ entry['title'] }}</a><br />
          <span>{{ entry['updated'] }}</span>
        </h1>
        <p>
          {{ entry['content'][0]['value']|safe }}
        </p>
        </article>
      {% endfor %}
    </div>

{% endblock%}
